body{
  font-family: arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  height: 100vh;
}
.card{
  background: white;
  padding: 25px 35px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 10px
  rgba(0,0,0,0.2);text-align: center;
}
h2{
  margin-bottom: 20px;
}
p{
  text-align:left;
  font-size: 16px;
  margin: 8px 0;
}
.status{
  font-weight: bold;
  color: red;
}
.button{
  margin-top: 20px;
}
button{
  border: none;
  padding: 10px 15px;
  color: white;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
}
.login{
  background-color: green;
}
.logout{
  background-color: red
}
.change{
  background-color: dodgerblue;
}